<div id="create_task" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create Issue</h4>
      </div>

      <div class="space"></div>

      <form role="form" action=
          "{% url 'project:issue_create_workload' project.id sprint_status %}"
            class="form-horizontal" id="create-issue-form-modal" method="post">
      <div id="create_issue_modal-body" class="modal-body">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group  {% if field.errors %} has-error {% endif %}">
          <label class="col-sm-3 control-label no-padding-right">{{ field.label_tag }}</label>
          <div class="col-sm-7">
            {{ field }}
            <div class="help-block col-xs-12 col-sm-reset inline">
              {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                    <li>
                        {{ error }}
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
          </div>
          </div>
        {% endfor %}
      </div>
        <div class="modal-footer">
          <div class="row " >
            <div class="col-md-3 col-lg-offset-6">
              <button type="submit" id="create_issue_modal_btn" class="btn btn-primary">
                Create
              </button>
            </div>
            <div class="col-md-3 ">
              <button type="button" class="btn btn-default"
                      data-dismiss="modal">Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->