<div id="create_sprint_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create New Sprint</h4>
      </div>
      <form id="create_sprint_form" action="{% url 'project:sprint_create' project.id %}"
            method="post">
        <div id="create_sprint_modal-body" class="modal-body">
          <strong class="center">
            <p>To create sprint enter duration and title of the sprint</p>
          </strong>
          <br>
          {% csrf_token %}
          <div class="form-group">
            {{ create_sprint_form }}
          </div>
        </div>
        <div class="modal-footer">
          <div class="row " >
            <div class="col-md-3 col-lg-offset-6">
              <button type="submit" id='create_sprint_modal_btn' class="btn btn-primary">
                Create
              </button>
            </div>
            <div class="col-md-3 ">
              <button type="button" class="btn btn-default"
                      data-dismiss="modal">Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->