<div id="confirm_start_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Start Sprint Confirmation</h4>
      </div>
      <form action="{% url 'project:sprint_start' project.id %}"
            method="post">
        <div class="modal-body">
          <strong class="center">
            <h3>Are you sure you want to start sprint?</h3>
          </strong>
          <br>
          {% csrf_token %}
        </div>
        <div class="modal-footer">
          <div class="row " >
            <div class="col-md-3 col-lg-offset-6">
              <button type="submit" class="btn btn-primary">
                Start
              </button>
            </div>
            <div class="col-md-3 ">
              <button type="button" class="btn btn-default"
                      data-dismiss="modal">Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->