{% extends 'base_auth.html' %}
{% load static %}

{% block title %}Confirmation{% endblock %}

{% block content %}
  <div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
      <div class="widget-main">
        <h4 class="header blue lighter bigger text-center">
          Email Confirmation
        </h4>

        <div class="space-6"></div>
        <fieldset>
          <h4 class="grey lighter bigger text-center">
            Your email has not been confirmed.
          </h4>
          <div class="space"></div>
        </fieldset>
      </div><!-- /.widget-main -->

      <div class="toolbar clearfix">

        <div class="pull-right">
          <a href="{% url 'general:sender' user.username %}" class="user-signup-link">
            Require again
            <i class="ace-icon fa fa-paper-plane-o"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
