.hide {
    display: none;
}

.note .trash {
    position: absolute;
    top: 0;;
    left: 0;
    color: #b41d00;
}

.note .trash:hover {
    transform: scale(1.25);
}

.note {
    margin: 30px 15px;
    float: left;
    position: relative;
    list-style: none;
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 150px;
    width: 200px;
    padding: 10px;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .8);
    transition: transform .15s linear;
    border: 1px solid gainsboro;
    overflow: hidden;
}

.note textarea,.note-content {
    font-family: arial, sans-serif;
    background: rgba(0, 0, 0, 0.02); /* transparent background */
    resize: none;
    padding: 0 10px;
    overflow: hidden;
    border: 1px dotted rgba(247, 241, 176, 0.1);
}

.note-title {
    min-width: 178px;
    padding: 0;
    font-size: 120%;
    font-weight: bold;
    height: 25px;
    width: 25%;
    overflow: hidden;
    background: #bdcae2;
    white-space: nowrap;
}

.note-content {
    margin-top: 2%;
    font-size: 110%;
    height: 82%;
    width: 100%;
    overflow: hidden;
    min-height: 500px;
    text-align: left;

}

.note:nth-child(even) {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #cfc;
}

.note:nth-child(3n) {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #ccf;
}

.note:nth-child(5n) {
    transform: rotate(5deg);
    position: relative;
    top: -10px;
}

#clicked {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    transform: scale(1);
    position: relative;
    width: 60%;
    height: auto;
    transition: 1s;
    float: left;
    top: 0;
    clear: left;
}

.note-picture {
    float: right;
    top: 0px;
    height: 150px;
    width: auto;
    clear: left;
    margin: 5px 15px;
}

.fileUpload {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.note-upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

div.content-text  {
    text-align: left;
    overflow: hidden;
    -webkit-appearance: textarea;
    white-space: pre-wrap;
    min-height: 450px;

}