html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* some elements used in demo only */
.spinner-preview {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 60px;
}

.dropdown-preview {
    margin: 0 5px;
    display: inline-block;
}

.dropdown-preview > .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 5px;
}

.footer .container {
    text-align: center;
    margin: 0;
    width: auto;
}

.footer .container span {
    margin: 20px 0;
    text-align: center;
}

a#createprojectbtn {
    margin-bottom: 8px;
}

.navbar-margin-bottom {
    margin-bottom: 10px;
}

.ui-sortable-helper {
    display: table !important;
}

button.team-event {
    border: none;
    background: white;
}

button.active-sprint-event {
    outline: none;
    border: 0 !important;
    background: transparent;
}

button.team-event:focus {
    outline: none
}

div.project-detail {
    padding: 0;
    float: left;
    margin: 7px 0 7px 7px;
}

.progress {
    width: 100%;
    height: 2px;
}

.progress-wrap {
    margin: 0 0;
    overflow: hidden;
    position: relative;
}

.progress-wrap .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
}

.background-red {
    background: #FF464B;
}

.background-green {
    background: #7cfb00;
}

.background-yellow {
    background: #ffca2c;
}

.contant-box {
    min-height: 2px;
}

.background-blue {
    background: rgba(150, 205, 141, 0.8);
}

.no-underline:hover {
    text-decoration: none;
}

.fixed-backlog-pool {
    position: fixed;
    right: 20px;
    width: 18.7%;
}

.limit-text-width {
    width: 80%;
    display: inline-block;
}

td.User_story {
    background-color: #d9edf7;
}

td.Task {
    background-color: #dff0d8;
}

td.Bug {
    background-color: #f2dede;
}

td.User_story a, td.Task a, td.Bug a  {
    color: #333;
}

tr.ui-sortable-handle.User_story {
    background-color: #d9edf7;
}

tr.ui-sortable-handle.Task{
    background-color: #dff0d8;
}

tr.ui-sortable-handle.Bug {
    background-color: #f2dede;
}
