html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* some elements used in demo only */
.spinner-preview {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 60px;
}

.dropdown-preview {
    margin: 0 5px;
    display: inline-block;
}

.dropdown-preview > .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 5px;
}

.footer .container {
    text-align: center;
    margin: 0;
    width: auto;
}

.footer .container span {
    margin: 20px 0;
    text-align: center;
}

a#createprojectbtn {
    margin-bottom: 8px;
}

.navbar-margin-bottom {
    margin-bottom: 10px;
}

.ui-sortable-helper {
    display: table !important;
}

button.team-event {
    border: none;
    background: white;
}
button.team-event:focus{
    outline: none
}