html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* some elements used in demo only */
.spinner-preview {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 60px;
}

.dropdown-preview {
    margin: 0 5px;
    display: inline-block;
}

.dropdown-preview > .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 5px;
}

.footer .container {
    text-align: center;
    margin: 0;
    width: auto;
}

.footer .container span {
    margin: 20px 0;
    text-align: center;
}

a#createprojectbtn {
    margin-bottom: 8px;
}

.project-detail {
    margin-top: 20px;
    font-size: 16px;
}

.project-detail p {
    padding: 20px 0;
}

.project-detail span {
    font-weight: 600;
}

.form-horizontal div {
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

.register-link {
    text-decoration: underline;
    margin-left: 10px;
    font-size: 16px;
    margin-top: 5px;
}
