html, body {
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none!important;
}

#main-container{
    min-height: 100%;
    position: relative;
    padding-bottom: 56px;
    margin: 0;
}

/* some elements used in demo only */
.spinner-preview {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 60px;
}

.dropdown-preview {
    margin: 0 5px;
    display: inline-block;
}

.dropdown-preview > .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 5px;
}

a#createprojectbtn {
    margin-bottom: 8px;
}

.navbar-margin-bottom {
    margin-bottom: 10px;
}

.ui-sortable-helper {
    display: table !important;
}

button.team-event {
    border: none;
    background: white;
}

button.active-sprint-event {
    outline: none;
    border: 0 !important;
    background: transparent;
}

button.team-event:focus {
    outline: none
}

div.project-detail {
    padding: 0;
    float: left;
    margin: 7px 0 7px 0;
}

.progress {
    width: 100%;
    height: 2px;
}

.progress-wrap {
    margin: 0 0;
    overflow: hidden;
    position: relative;
}

.progress-wrap .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
}

.resolved {
    border-top: 0;
    background: #E1ECF4;
    height: 5px;
    width: 100%;
    line-height: 0;
    color: #39739d;
    display: inline-block;
}

.background-red {
    background: #FF464B;
}

.background-green {
    background: #7cfb00;
}

.background-yellow {
    background: #ffca2c;
}

.contain-box {
    min-height: 46px;
}

.background-loading {
    background: rgba(150, 205, 141, 0.8);
}

.background-overloaded {
    background-color: #d15b47;
}

.background-back-to-back {
    background-color: #d9edf7;
    color: #478fca!important;
}

.no-underline:hover {
    text-decoration: none;
}

.fixed-backlog-pool {
    height: calc(100%);
    position: static;
    width: calc(100% + 32px);
    padding-right: 20px;
    overflow-y: scroll;
}

.backlog-wrap {
    position: fixed;
    width: calc((100% - 196px)* 0.25);
    padding: 0 15px 0;
    height: calc(100% - 260px);
    right: 0;
    z-index: 100;
}

.limit-text-width {
    width: 80%;
    display: inline-block;
}

td.User_story {
    background-color: #d9edf7;
}

td.Task {
    background-color: #dff0d8;
}

td.Bug {
    background-color: #f2dede;
}

td.User_story a, td.Task a, td.Bug a {
    color: #333;
}

tr.User_story {
    background-color: #d9edf7;
}

tr.Task {
    background-color: #dff0d8;
}

tr.Bug {
    background-color: #f2dede;
}


.social-login a {
    width: 34px;
    height: 34px;
    line-height: 38px;
}

.social-login a > .ace-icon {
    font-size: 20px;
}

.ace-nav > li {
    border-left: none;
}

@media only screen and (min-width: 992px){
    .navbar-container {
        padding-right: 0;
    }
}

.orderable.start_date, .orderable.end_date, .orderable.status{
    text-align: center;
}

.online-status {
    padding-right: 10px;
    font-weight: normal;
    color: #667E99;
    background-color: transparent;
    display: table-cell;
    vertical-align: middle;
}

@-moz-document url-prefix() {
    #id_photo {
        height: auto;
        padding-top: 2px;
        padding-bottom: 1px;
    }
}

input[required] {
    border: 1px solid dimgrey;
}

form input[type="checkbox"] {
    margin-top: 12px;
}

hr {
    margin: 0;
}
