{% extends 'base.html' %}
{% load waffle_tags %}
{% load i18n %}

{% block title %}Issue detail{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="{% url 'project:list' %}">Projects</a>
    </li>
    <li>
        <a href="{% url 'project:detail' project.id %}">{{ project.title }}</a>
    </li>
    {% if issue.sprint %}
        <li>
            <a href="{% url 'project:sprint_active' project.id %}"> {{ issue.sprint.title }}</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'project:backlog' project.id %}">Backlog</a>
        </li>
    {% endif %}
    <li>
        <span>{{ issue.title }}</span>
    </li>
{% endblock %}

{% block content %}

    {% include 'project/project_navbar.html' with sprint_detail=True %}
    <div class="container-fluid">
        {% flag "edit_issue" %}
            <div class="row">
                <div class="col-sm-4 pull-right">
                    <a href="{% url 'project:issue_edit' project.id issue.id %}"
                       class="btn btn-primary">Edit this issue</a>
                </div>
            </div>
            <div class="row"></div>
        {% endflag %}
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Title:</h4>
                    </div>
                    <div class="col-md-8">
                        <h4>{{ issue.title }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Status:</h4>
                    </div>
                    <div class="col-md-8">
                        <h4>{{ issue.status }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Estimation:</h4>
                    </div>
                    <div class="col-md-8">
                        <h4>{{ issue.estimation }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Author:</h4>
                    </div>
                    <div class="col-md-8">
                        <a href="{% url 'employee:detail' issue.author.id %}"><h4>{{ issue.author }}</h4></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Employee:</h4>
                    </div>
                    <div class="col-md-8">
                        <a href="{% if issue.employee %}{% url 'employee:detail' issue.employee.id %}{% endif %}">
                            <h4>{{ issue.employee }}</h4></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Description:</h4>
                    </div>
                    <div class="col-md-8">
                        <h4 style="word-wrap: break-word;">{{ issue.description }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                {% if root_issue %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Parent issue</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Estimation</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <a href="{% url 'project:issue_detail' project.id root_issue.id %}">
                                                    {{ root_issue.title }}</a>
                                            </td>
                                            <td>{{ root_issue.estimation }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    {#                                    <a href="{% url 'project:issue_detail' project.id root_issue.id %}">#}
                                    {#                                        <h4>{{ root_issue.title }}</h4></a>#}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if child_issues %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Child Issues</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Estimation</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for child in child_issues %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>
                                                    <a href="{% url 'project:issue_detail' project.id child.id %}">{{ child.title }} </a>
                                                </td>
                                                <td>{{ child.estimation }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% flag "create_issue" %}
                    <div class="row">
                        <div class="col-sm-8">
                            <a href="{% url 'project:issue_create' project.id %}?root={{ issue.id }}"
                               class="btn btn-primary">Create sub issue</a>
                        </div>
                    </div>
                {% endflag %}
            </div>
        </div>
        <div class="row">
            <h1>Here comments part</h1>
        </div>
    </div>
{% endblock %}
