{% extends 'base.html' %}

{% block title %}Issue{% endblock %}

{% block content %}
  {% include 'project/project_navbar.html' %}

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Issue title</th>
        <th>Description</th>
        <th>Status</th>
        <th>estimation</th>
        <th>author</th>
        <th>Sprint</th>
        <th>Employee</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ issue.title }}</td>
        <td>{{ issue.description }}</td>
        <td>{{ issue.status }}</td>
        <td>{{ issue.estimation }}h</td>
        <td>{{ issue.author }}</td>
        <td>{{ issue.sprint }}</td>
        <td>{{ issue.employee }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <a href="{% url 'project:issue_edit' project.id issue.id %}"
     class="btn btn-default">Edit this issue</a>
{% endblock %}

