{% extends 'base.html' %}
{% load i18n %}

{% block title %}Edit issue{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>
    <a href="{% url 'project:list' %}">Projects</a>
  </li>
  <li>
    <a href="{% url 'project:detail' project.id %}">{{ project.title }}</a>
  </li>
  {% if issue.sprint %}

    <li>
      <a href="{% url 'project:sprint_active' project.id %}">{{ issue.sprint.title }}</a>
    </li>
  {% else %}
    <li>
      <a href="{% url 'project:backlog' project.id %}">Backlog</a>
    </li>
  {% endif %}
  <li>
    <a href="{% url 'project:issue_detail' project.id issue.id %}">{{ issue.title }}</a>
  </li>
  <li>
    <span>{% trans 'Edit' %}</span>
  </li>
{% endblock %}
{% block content %}
  {% include 'project/project_navbar.html' with sprint_detail=True %}
  <form role="form" action="" class="form-horizontal" method="post">
    {% for field in form %}
      <div class="form-group {% if field.errors %} has-error {% endif %}">
        <label
            class="col-sm-3 control-label no-padding-right">{{ field.label_tag }}</label>
        <div class="col-sm-9">
          {{ field }}
          <div class="help-block col-xs-12 col-sm-reset inline">
            {% if field.errors %}
              <ul>
              {% for error in field.errors %}
                <li>
                  {{ error }}
                </li>
              {% endfor %}
            {% endif %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
    {% csrf_token %}
    <div class="clearfix">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-success">Submit</button>
        <button class="btn ">Cancel</button>
        <a class = "btn btn-danger" href="{% url 'project:issue_delete' project.id issue.id%}"> Delete </a>
      </div>
    </div>
  </form>
{% endblock %}




