{% extends 'base.html' %}
{% load i18n %}

{% block title %}Issue detail{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if issue.sprint %}
    <li>
      <a href="{% url 'project:sprint_active' project.id %}"> {{ issue.sprint.title }}</a>
    </li>
  {% else %}
    <li>
      <a href="{% url 'project:backlog' project.id %}">Backlog</a>
    </li>
  {% endif %}
  <li>
    <span>{{ issue.title }}</span>
  </li>
{% endblock %}

{% block content %}

  <a href="{% url 'project:issue_edit' project.id issue.id %}"
     class="btn btn-default pull-right">Edit this issue</a>
  {% include 'project/project_navbar.html' with sprint_detail=True %}

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Issue title</th>
        <th>Description</th>
        <th>Status</th>
        <th>estimation</th>
        <th>author</th>
        <th>Sprint</th>
        <th>Employee</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ issue.title }}</td>
        <td>{{ issue.description }}</td>
        <td>{{ issue.status }}</td>
        <td>{{ issue.estimation }}h</td>
        <td>{{ issue.author }}</td>
        <td>{{ issue.sprint }}</td>
        <td>{{ issue.employee }}</td>
      </tr>
      </tbody>
    </table>
  </div>

{% endblock %}

