{% extends 'base.html' %}
{% load static %}
{% load waffle_tags %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>
    <a href="{% url 'project:list' %}">Projects</a>
  </li>
  <li>
    <span>{{ project.title }}</span>
  </li>
{% endblock %}
{% block content %}
  {% flag "edit_project_detail" %}
    <a class="btn btn-info pull-right"
       href="{% url 'project:update' project.id %}"> Edit project </a>
  {% endflag %}
  {% include 'project/project_navbar.html' with detail=True %}
  <div class="col-sm-12"><span>{{ project.description }}</span></div>

{% endblock %}
