{% load static %}
{% load waffle_tags %}

<div class="page-header" data-project="{{ project.id }}">
    <h1>{{ project.title }}</h1></div>

{% for message in messages %}
  <p class="red pull-right">
    <i class="ace-icon fa fa-asterisk red"></i>
    <strong {% if message.tags %} class="{{ message.tags }}"
    {% endif %}>{{ message }}</strong></p>
{% endfor %}

<div class="tabbable">
  <ul class="nav nav-tabs" id="myTab">
    <li {% if detail %}class="active"{% endif %}>
      <a href="{% url 'project:detail' project.id %}">
        Detail
      </a>
    </li>
    <li {% if sprint_detail %}class="active"{% endif %}>
      <a href="{% url 'project:sprint_active' project.id %}">
        Sprint
      </a>
    </li>
    <li {% if backlog %}class="active"{% endif %}>
      <a href="{% url 'project:backlog' project.id %}">
        Backlog
      </a>
    </li>
    <li {% if sprint_list %}class="active" {% endif %}>
      <a href="{% url 'project:sprints_list' project.id %}">
        Sprint history
      </a>
    </li>
    <li {% if issues_tab %}class="active" {% endif %}>
      <a href="{% url 'project:issue_search' project.id %}">
        Issues
      </a>
    </li>
    <li {% if team %}class="active" {% endif %}>
      <a href="{% url 'project:team' project.id %}">
        Team
      </a>
    </li>
    <li {% if notes %}class="active" {% endif %}>
      <a href="{% url 'project:note' project.id %}">
        Notes
      </a>
    </li>
  </ul>
</div>

<div class="clearfix navbar-margin-bottom"></div>
