{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% include 'project/project_navbar.html' %}

  <div class="col-xs-12 col-sm-10 col-sm-offset-1 project-detail row">
    <div class="col-xs-12 col-sm-6 ">
      <p><span>Title:</span> {{ project.title }}</p>
    </div>

    <div class="col-xs-12 col-sm-12">
      <p><span>Description: </span>{{ project.description }}</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p><span>Start Date:</span> {{ project.start_date }}</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p class="pull-right"><span>End Date:</span> {{ project.end_date }}</p>
    </div>
    <div class="col-xs-12 col-sm-6 pull-right">
      <a class="btn btn-info pull-right"
         href="{% url 'project:update' project.id %}"> Edit </a>
    </div>
  </div>
  <br><br><br><br><br>
  <a href="{% url 'project:sprint_create' project.id %}"
     class="btn btn-primary">Create new sprint</a>
{% endblock %}