{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block title %}Sprints List{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>
    <a href="{% url 'project:list' %}">Projects</a>
  </li>
  <li>
    <a href="{% url 'project:detail' project.id %}">{{ project.title }}</a>
  </li>
  <li>
    <span>{% trans 'Sprint History' %}</span>
  </li>
{% endblock %}

{% block content %}
  {% include 'project/project_navbar.html' with sprint=True%}

  {% if table %}
    {% render_table table "base_table.html" %}
  {% endif %}
{% endblock %}
