{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Create new sprint{% endblock %}
{% block breadcrumbs %}
  {{ block.super }}
  <li>
    <a href="{% url 'project:list' %}">Projects</a>
  </li>
  <li>
    <a href="{% url 'project:detail' project.id %}">{{ project.title }}</a>
  </li>
  <li>
    <span>{% trans 'Create new sprint' %}</span>
  </li>

{% endblock %}


{% block content %}

  {% include 'project/project_navbar.html' with detail=True %}
  <form role="form" action="{% url 'project:sprint_create' project.id %}" class="form-horizontal" method="post">
    <div class="col-sm-6">
      {% for field in form %}
        {% if not field.name == 'issue' %}
          <div class="form-group {% if field.errors %} has-error {% endif %}">
            <label
                class="col-sm-2 control-label no-padding-right">{{ field.label_tag }}</label>
            <div class="col-sm-10">
              {{ field }}
              <div class="help-block col-xs-12 col-sm-reset inline">
                {% if field.errors %}
                  <ul>
                  {% for error in field.errors %}
                    <li>
                      {{ error }}
                    </li>
                  {% endfor %}
                {% endif %}
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      {% csrf_token %}
      <div class="clearfix">
        <div style="padding-left: 5px" class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Submit</button>
          <a class="btn btn-base"
             href="{% url 'project:detail' project.id %}"> Cancel </a>
        </div>
      </div>
    </div>
    {% if issue_list %}
      <div class="col-sm-6">
        <table id="simple-table" class="table  table-bordered table-hover">
          <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Employee</th>
            <th>Status</th>
            <th>Estimation</th>
          </tr>
          </thead>
          <tbody>
          {% for issue in issue_list %}
            <tr>
              <td><input name="issue" value='{{ issue.id }}' type="checkbox"></td>
              <td><span>{{ issue.title }}</span></td>
              {% if issue.employee %}
                <td>
                  <a href="{% url 'employee:detail' issue.employee.id %}">
                    {{ issue.employee.get_full_name }}
                  </a>
                </td>
              {% else %}
                <td><span>None</span></td>
              {% endif %}
              <td><span>{{ issue.status }}</span></td>
              {% if issue.estimation %}
                <td><span>{{ issue.estimation }}</span></td>
              {% else %}
                <td><span>None</span></td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <h1>Backlog is empty</h1>
    {% endif %}
  </form>
{% endblock %}

