{% extends 'base.html' %}

{% block title %} Change status of sprint {% endblock %}
{% block content %}
  {% include 'project/project_navbar.html' %}
  {{ block.super }}

  <form role="form" action="" class="form-horizontal" method="post">
    <div class="col-sm-12 ">
      <p>Are you sure you want to change status of this sprint
        "{{ object }}???</p>
    </div>

    {% csrf_token %}
    <div class="col-sm-12 container">
      <div class="col-sm-12 dropup">
        {{ form }}
      </div>
      <div class="col-sm-offset-3 col-sm-6">
        <button type="submit" class="btn btn-danger center-block">Yes</button>
        <a class="btn btn-delete"
           href="{% url 'project:sprint_detail' project.id object.id %}">
          No </a>
      </div>
    </div>
  </form>
{% endblock %}