{% extends 'base.html' %}
{% load waffle_tags %}
{% load i18n %}
{% load static %}


{% block styles %}
  {{ block.super }}
  {% flag "push_issue" %}

    <link rel="stylesheet" type="text/css"
          href="{% static 'css/push-issue.css' %}"/>
  {% endflag %}
{% endblock %}

{% block title %} Active sprint {% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>
    <a href="{% url 'project:list' %}">Projects</a>
  </li>
  <li>
    <a href="{% url 'project:detail' project.id %}">{{ project.title }}</a>
  </li>
  <li>
    <span>{% trans 'Active sprint' %}</span>
  </li>
{% endblock %}

{% block content %}
  <div class='btn-group pull-right'>
  <a href="#chart-modal" role="button" data-toggle="modal"
         class="btn btn-info pull-right">Burndown chart</a>
  {% flag 'create_sprint' %}
    <a href="{% url 'project:sprint_create' project.id %}"
       class="btn btn-primary pull-right">Create new sprint</a>
  {% endflag %}
  </div>
  {% include 'project/project_navbar.html' with sprint_detail=True %}


  {% if no_active_sprint %}

    <div class="page-header"><h1>There is no active sprint yet</h1></div>
  {% endif %}

  {% if not no_active_sprint %}
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Sprint Title</th>
          <th>Start date</th>
          <th>End date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ active_sprint.title }}</td>
          <td>{{ active_sprint.start_date|date:"d/m/Y" }}</td>
          <td>{{ active_sprint.end_date|date:"d/m/Y" }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <br><br>

    <div class="text-center table-responsive">
      <p><strong>Dashboard</strong></p>
      <div class="col-md-4">
        <table class="table table-striped table-bordered" data-issueType="new">
          <thead>
          <tr>
            <th class="text-center">New issues</th>
          </tr>
          </thead>
          <tbody>
          {% for new_iss in new_issues %}
            <tr data-id="{{ new_iss.id }}" draggable="true" ondragstart="event.dataTransfer.setData('text/plain',null)">
              <td>
                <a draggable="false" class="align-middle" href="
{% url 'project:issue_detail' new_iss.project_id new_iss.id %}">
                  {{ new_iss.title }}</a>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table table-striped table-bordered" data-issueType="in progress">
          <thead>
          <tr>
            <th class="text-center">Issues in progress</th>
          </tr>
          </thead>
          <tbody>
          {% for progress in in_progress_issues %}
            <tr data-id="{{ progress.id }}" draggable="true" ondragstart="event.dataTransfer.setData('text/plain',null)">
              <td>
                <a draggable="false" class="align-middle" href="
{% url 'project:issue_detail' progress.project_id progress.id %}">
                  {{ progress.title }}</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table table-striped table-bordered" data-issueType="resolved">
          <thead>
          <tr>
            <th class="text-center">Resolved issues</th>
          </tr>
          </thead>
          <tbody>
          {% for resolved in resolved_issues %}
            <tr data-id="{{ resolved.id }}" draggable="true" ondragstart="event.dataTransfer.setData('text/plain',null)">
              <td>
                <a draggable="false" class="align-middle" href="
{% url 'project:issue_detail' resolved.project_id resolved.id %}">
                  {{ resolved.title }}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  <div id="chart-modal"  class="modal" tabindex="-1">
    <div style="width: 920px" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="blue bigger">Burndown chart</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <figure>{{ chart.render | safe }}</figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrascripts %}
  {% flag "push_issue" %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'project/js/push_issue_in_active_sprint.js' %}"></script>
  {% endflag %}
{% endblock %}
