{% extends 'base.html' %}
{% load waffle_tags %}
{% load i18n %}
{% load static %}
{% load sprint_status %}
{% load sprint_exist %}


{% block styles %}
  {{ block.super }}
  {% flag "push_issue" %}

    <link rel="stylesheet" type="text/css"
          href="{% static 'css/push-issue.css' %}"/>
  {% endflag %}
{% endblock %}

{% block title %} Active sprint {% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>
    <a href="{% url 'project:list' %}">Projects</a>
  </li>
  <li>
    <a href="{% url 'project:detail' project.id %}">{{ project.title }}</a>
  </li>
  <li>
    <span>{% trans 'Active sprint' %}</span>
  </li>
{% endblock %}

{% block content %}
  <div class='btn-group pull-right'>
    {% if project.id|sprint_exist:'new' %}
      {% flag "read_workflow_manager" %}
        <a href="{% url 'project:workload_manager' project.id 'new'|sprint_status %}"
           class="btn btn-success pull-right">Form Sprint</a>
      {% endflag %}
    {% endif %}

    {% if active_sprint %}

      {% flag "read_workflow_manager" %}
        <a href="{% url 'project:workload_manager' project.id 'active'|sprint_status %}"
           class="btn btn-primary pull-right">Workload Manager</a>
      {% endflag %}

      <a href="#chart-modal" role="button" data-toggle="modal"
         class="btn btn-info pull-right">Burndown chart</a>

      {% flag 'edit_sprint' %}
        <button class="btn btn-danger" data-toggle="modal"
                data-target="#confirm_finish_modal">Finish Sprint
        </button>
      {% endflag %}
    {% endif %}

  {% if not project.id|sprint_exist:'new' %}
    {% flag 'create_sprint' %}
      <button class="btn btn-primary" data-toggle="modal"
            data-target="#create_sprint_modal">Create new sprint</button>
    {% endflag %}
  {% endif %}
  </div>
  {% include 'project/project_navbar.html' with sprint_detail=True %}

  {% if not object %}

    <div class="page-header"><h1>There is no active sprint yet</h1></div>
  {% endif %}

  {% if object %}
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Sprint Title</th>
          <th>Start date</th>
          <th>End date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ object.title }}</td>
          <td>{{ object.start_date|date:"d/m/Y" }}</td>
          <td>{{ object.get_expected_end_date|date:"d/m/Y" }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <br><br>

    <div class="text-center table-responsive">
      <p><strong>Dashboard</strong></p>
      <div class="col-md-4 drop">
        <table class="table table-striped table-bordered" data-issueType="new">
          <thead>
          <tr>
            <th class="text-center">TODO</th>
          </tr>
          </thead>
          <tbody>
          {% for new_iss in new_issues %}
            <tr data-id="{{ new_iss.id }}" draggable="true"
                ondragstart="event.dataTransfer.setData('text/plain',null)">
              <td class="{{ new_iss.type }}">
                <a draggable="false" class="align-middle" href="
                  {% url 'project:issue_detail' new_iss.project_id new_iss.id %}">
                  <ul class="list-unstyled" style="margin-bottom: 0">
                    {% if new_iss.completion_rate %}
                    <li>
                      <div class="progress pos-rel" style="margin-bottom: 0; height: 3px">
                        <div class="progress-bar" style="width:{{ new_iss.completion_rate }}%"></div>
                      </div>
                    </li>
                    {% endif %}
                    <li>{{ new_iss.title }} ({{ new_iss.estimation }} hours) | {{ new_iss.employee.get_full_name }}</li>
                  </ul>
                </a>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-4 drop" >
        <table class="table table-striped table-bordered"
               data-issueType="in progress">
          <thead>
          <tr>
            <th class="text-center">In progress</th>
          </tr>
          </thead>
          <tbody>
          {% for progress in in_progress_issues %}
            <tr data-id="{{ progress.id }}" draggable="true"
                ondragstart="event.dataTransfer.setData('text/plain',null)">
              <td class="{{ progress.type }}">
                <a draggable="false" class="align-middle" href="
{% url 'project:issue_detail' progress.project_id progress.id %}">
                  <ul class="list-unstyled" style="margin-bottom: 0">
{#                    {% if progress.completion_rate %}#}
{#                    <li>#}
{#                      <div class="progress pos-rel" style="margin-bottom: 0; height: 3px">#}
{#                        <div class="progress-bar" style="width:{{ progress.completion_rate }}%"></div>#}
{#                      </div>#}
{#                    </li>#}
{#                    {% endif %}#}
                    <li>{{ progress.title }} ({{ progress.estimation }} hours) | {{ progress.employee.get_full_name }}</li>
                  </ul>
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-4 drop">
        <table class="table table-striped table-bordered"
               data-issueType="resolved">
          <thead>
          <tr>
            <th class="text-center">Resolved</th>
          </tr>
          </thead>
          <tbody>
          {% for resolved in resolved_issues %}
            <tr data-id="{{ resolved.id }}" draggable="true"
                ondragstart="event.dataTransfer.setData('text/plain',null)">
              <td class="{{ resolved.type }}">
                <a draggable="false" class="align-middle" href="
{% url 'project:issue_detail' resolved.project_id resolved.id %}">
                  <ul class="list-unstyled" style="margin-bottom: 0">
{#                    {% if resolved.completion_rate %}#}
{#                    <li>#}
{#                      <div class="progress pos-rel" style="margin-bottom: 0; height: 3px">#}
{#                        <div class="progress-bar" style="width:{{ resolved.completion_rate }}%"></div>#}
{#                      </div>#}
{#                    </li>#}
{#                    {% endif %}#}
                    <li>{{ resolved.title }} ({{ resolved.estimation }} hours) | {{ resolved.employee.get_full_name }}</li>

                  </ul>
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  <div id="chart-modal" class="modal" tabindex="-1">
    <div style="width: 920px" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close"
                  data-dismiss="modal">&times;</button>
          <h4 class="blue bigger">Burndown chart</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <figure>{{ chart.render | safe }}</figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# plug in pop-up templates #}
  {% include 'project/pop-up/sprint_create.html' %}
  {% include 'project/pop-up/confirm_finish_sprint.html' %}

{% endblock %}

{% block extrascripts %}
  <script src="{% static 'js/ajax_csrf.js' %}"></script>
  <script src="{% static 'js/sprint_create_validation.js' %}"></script>
  {% flag "push_issue" %}

    <script
        src="{% static 'project/js/push_issue_in_active_sprint.js' %}"></script>
  {% endflag %}
{% endblock %}
