{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% load i18n %}
{% load waffle_tags %}
{% load waffle_tags %}

{% block title %}Team{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>
    <a href="{% url 'project:list' %}">Projects</a>
  </li>
  <li>
    <a href="{% url 'project:detail' project.id %}">{{ project.title }}</a>
  </li>
  <li>
    <span>{% trans 'Team' %}</span>
  </li>
{% endblock %}

{% block content %}
  {% if not teams %}
    {% flag 'create_team' %}
    <a class="btn btn-info pull-right"
       href="{% url 'project:team_create' project.id %}">Create new team</a>
    {% endflag %}
  {% endif %}

  {% include 'project/project_navbar.html' with team=True %}

  {% if pm %}
    {% if pm|length_is:'1' %}
        <h4 class="text-center">Project manager of the project is
          <strong>{{ pm.first.first_name }} {{ pm.first.last_name }}</strong></h4><br>
    {% else %}
      <h4 class="text-center">There are more than one Project Manager in the
        project!!!</h4><br>
    {% endif %}
  {% endif %}

   {% if table %}
    {% render_table table "base_table.html" %}
  {% endif %}

{% endblock %}



