{% load waffle_tags %}
{% load mathfilters %}

{% if items %}
<div id="sprint-status" data-status="{{ sprint_status }}"></div>
<div class="row">
  {% for item in items %}
    <div class="col-md-3">
      <ul class="list-group">
        <li class="blue lighter bigger-120 list-group-item">
          <span class="glyphicon glyphicon-user"></span>&nbsp
            <a class="no-underline" href="{% url 'employee:detail' item.employee.id %}">
              {{ item.employee.last_name }}</a>
          <span class="badge">{{ item.workload }}%</span></li>
        <div class="background-{% if item.workload < 75 %}yellow
          {% elif item.workload > 100 %}red {% else %}green
          {% endif %}progress-wrap progress"
           data-progress-percent="{{ item.workload }}">
          <div class="progress-bar progress"></div>
        </div>
        <div data-relate="{{ item.employee.id }}" class="sortable contant-box">
        {% for issue in item.issues|dictsort:'order' %}
          <li data-issue="{{ issue.id }}" class="list-group-item">
            <a class="no-underline limit-text-width"
               href="{% url 'project:issue_detail' project.id issue.id %}">
                {{ issue.title }}</a>
            <span class="badge">{{ issue.estimation }}</span></li>
        {% endfor %}
        </div>
        <li class="list-group-item white bigger-110{% if item.free < 0 %}
            background-overloaded">Overloaded
          {% elif item.free == 0 %}
            background-back-to-back text-center">Back to back
          {% else %}
            background-loading">Free hours
          {% endif %}
          {% if item.free != 0 %}
            <span class="badge">{{ item.free|abs }}</span></li>
          {% endif %}
      </ul>
    </div>
  {% if forloop.counter == 3 %}

  <div class="backlog-wrap">
    <div class="nav-stacked fixed-backlog-pool">

      <ul class="list-group">
        <li class="blue lighter bigger-120 list-group-item
        {% flag 'create_task' %}{% else %}text-center{% endflag %}">
          {% flag 'create_task' %}
          <a href="#create_task" title="Create issue"
             role="button" data-toggle="modal">
            <span class="ace-icon fa fa-plus"></span>
          </a>
          {% endflag %}
          <span {% flag 'create_task' %}class="pull-right"{% endflag %}>
            {{ sprint_status|title }} sprint pool</span>
        </li>
        <div data-relate="{{ sprint_status }}_sprint" class="sortable contant-box">
        {% for issue in sprint_log|dictsort:'order' %}
          <li data-issue="{{ issue.id }}" class="list-group-item">
            <a class="no-underline limit-text-width"
               href="{% url 'project:issue_detail' project.id issue.id %}">
                {{ issue.title }}</a>
            {% if issue.estimation %}<span class="badge">
              {{ issue.estimation }}</span>
            {% endif %}</li>
        {% endfor %}
        </div>
      </ul>

      <ul class="list-group">
        <li class="blue lighter bigger-120 list-group-item text-center">
          <a class="no-underline" href="{% url 'project:backlog' project.id %}">
            Backlog pool</a>
        </li>
        <div data-relate="backlog" class="sortable contant-box">
        {% for issue in issues_log|dictsort:'order' %}
          <li data-issue="{{ issue.id }}" class="list-group-item">
            <a class="no-underline limit-text-width"
               href="{% url 'project:issue_detail' project.id issue.id %}">
                {{ issue.title }}</a>
            {% if issue.estimation %}<span class="badge">
              {{ issue.estimation }}</span>
            {% endif %}</li>
        {% endfor %}
        </div>
      </ul>
    </div>
  </div>

  {% endif %}

  {% if forloop.counter|divisibleby:3 %}
    </div><div class="row">
  {% endif %}
{% endfor %}
</div>
{% include 'project/pop-up/create_task.html' %}

{% else %}
  <h3>No items.</h3>
{% endif %}
