{% extends 'base.html' %}
{% load waffle_tags %}

{% block title %}Active sprint{% endblock %}

{% block content %}
  {% include 'workflow/project_navbar.html' %}


  {% if no_active_sprint %}
    <h4>There is no active sprint yet</h4>
  {% endif %}
  {% if not no_active_sprint %}
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Sprint Title</th>
        <th>Start date</th>
        <th>End date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ active_sprint.title }}</td>
        <td>{{ active_sprint.start_date|date:"d/m/Y" }}</td>
        <td>{{ active_sprint.end_date|date:"d/m/Y" }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <br><br>

  <div class="text-center table-responsive">
    <p class="text-center"><strong>Dashboard</strong></p>
    <div class="col-md-4">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th class="text-center">New issues</th>
        </tr>
        </thead>
        <tbody>
        {% for new_iss in new_issues %}
          <tr>
            <td class="text-center">
              <a href="
{% url 'workflow:issue' new_iss.project_id new_iss.id %}">
                {{ new_iss.title }}</a>
              {% flag "push_issue" %}
              <a href="
{% url 'workflow:issue_push' new_iss.project_id new_iss.id 'right' %}">
              <span style="float: right"
                    class="glyphicon glyphicon-circle-arrow-right"></span>
              </a>
              {% endflag %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th class="text-center">Issues in progress</th>
        </tr>
        </thead>
        <tbody>
        {% for progress in in_progress_issues %}
          <tr>
            <td class="text-center">
              {% flag "push_issue" %}
              <a href="
{% url 'workflow:issue_push' progress.project_id progress.id 'left' %}">
              <span style="float: left"
                    class="glyphicon glyphicon-circle-arrow-left"></span>
              </a>
              {% endflag %}
              <a href="
{% url 'workflow:issue' progress.project_id progress.id %}">
                {{ progress.title }}</a>
              {% flag "push_issue" %}
              <a href="
{% url 'workflow:issue_push' progress.project_id progress.id 'right' %}">
              <span style="float: right"
                    class="glyphicon glyphicon-circle-arrow-right"></span>
              </a>
              {% endflag %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th class="text-center">Resolved issues</th>
        </tr>
        </thead>
        <tbody>
        {% for resolved in resolved_issues %}
          <tr>
            <td class="text-center">
              {% flag "push_issue" %}
              <a href="
{% url 'workflow:issue_push' resolved.project_id resolved.id 'left' %}">
              <span style="float: left"
                    class="glyphicon glyphicon-circle-arrow-left"></span>
              </a>
              {% endflag %}
              <a href="
{% url 'workflow:issue' resolved.project_id resolved.id %}">
                {{ resolved.title }}</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
{% endblock %}
