{% extends 'base.html' %}
{% load waffle_tags %}

{% block content %}
  {% include 'workflow/project_navbar.html' %}
  <h2 class="inline">Backlog | Project - {{ project.title }}</h2>

  {% flag "create_issue" %}
  <a href="{% url 'workflow:create_issue' project.id %}"
     class="btn btn-primary pull-right" role="button">Create issue</a>
  {% endflag %}

  {% if issues %}
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>Author</th>
          <th>Title</th>
          <th>Status</th>
          {% flag "edit_issue" %}<th></th>{% endflag %}
        </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
          <tr>
            <td>{{ issue.id }}</td>
            <td>{{ issue.author }}</td>
            <td><a href="{% url 'workflow:issue' project.id issue.id %}">
              {{ issue.title }}</a></td>
            <td>{{ issue.status }}</td>
            {% flag "edit_issue" %}
            <td><a href="{% url 'workflow:edit_issue' project.id issue.id %}">
              <span class="glyphicon glyphicon-pencil"></span></a></td>
            {% endflag %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <h3>No issues.</h3>
  {% endif %}
{% endblock %}
