{% load staticfiles %}

{% block styles %}
  <link rel="stylesheet" href='{% static 'css/bootstrap.css' %}'
        type='text/css'/>
  <link rel="stylesheet" type="text/css" href="{% static 'workflow/css/style.css' %}"/>
{% endblock %}

{% block content %}


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <form class="form-signin" action="{% url 'workflow:login' %}"
              method="post">
          {% csrf_token %}
          <div class="form-group">
            <h3>Login</h3>
            <input name="username" type="text" class="form-control"
                   placeholder="Login" required
                   class="btn-block">
          </div>
          <div class="form-group">
            <h3>Password</h3>
            <input name="password" type="password" class="form-control"
                   placeholder="Password"
                   required class="btn-block">
          </div>
          <div class="col-md-3"></div>
          {% for message in messages %}
            <div class="col-md-12 col-lg-offset-5">
              <p><strong>{{ message }}</strong></p>
            </div>
          {% endfor %}

          <div class="form-group">
            <input class="btn btn-lg btn-primary btn-block" type="submit"
                   value="Log in">
            <div class="register-link">
              <a href="{% url 'workflow:registration' %}" class="center-block">Register</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}