{% extends 'base.html' %}

<div class="container">
  {% block content %}
    <h2>{{ project.title }} </h2>
    <a href="{% url 'workflow:projects' %}">Back to all projects</a>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">

          {% url 'workflow:project_detail' project.id as project_detail %}
          <li {% if request.path == project_detail %} class="active"
          {% endif %}><a href="{{ project_detail }}">Project Detail</a></li>


          <li><a href="{% url 'workflow:sprint' 1 1 %}">Sprint</a>
          </li>

          {% url 'workflow:backlog' project.id as backlog %}
          <li {% if request.path == backlog %} class="active"
          {% endif %}><a href="{{ backlog }}">Backlog</a>
          </li>

          <li><a href="{% url 'workflow:sprints_list' project.id %}">History</a>
          </li>
          <li><a href="{% url 'workflow:team' 1 %}">Team</a></li>
        </ul>
      </div>
    </nav>
  {% endblock %}
</div>



