{% extends 'base_auth.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Log in{% endblock %}

{% block content %}
  <div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
      <div class="widget-main">
        <h4 class="header blue lighter bigger text-center">
          Please Enter Your Information
        </h4>

        <div class="space-6"></div>

        <form action="{% url 'general:login' %}" method='post'>
          {% csrf_token %}
          <fieldset>
            {% for field in form %}
              <label class="block clearfix">
              <span class="block input-icon input-icon-right">
                {{ field }}
              </span>
              </label>
            {% endfor %}
            {% if not messages %}
              <div class="space"></div>
            {% endif %}
            {% for message in messages %}
              <p class="red">
                <i class="ace-icon fa fa-asterisk red"></i>
                <strong {% if message.tags %} class="{{ message.tags }}"
                {% endif %}>{{ message }}</strong></p>
            {% endfor %}
            <div class="clearfix">
              <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                <i class="ace-icon fa fa-key"></i>
                <span class="bigger-110">Login</span>
              </button>
            </div>

            <div class="space-4"></div>
          </fieldset>
        </form>
        <div class="social-or-login center">
          <span class="bigger-110">Or Login Using</span>
        </div>

        <div class="space-6"></div>


        <div class="social-network-div">
          <ul class="social-network social-circle">
              <li><a href="{% provider_login_url 'github' process='login' %}"
                     class="icoGithub" title="GitHub">
                  <i class="fa fa-github"></i></a></li>

              <li><a href="{% provider_login_url 'facebook' process='login' %}"
                     class="icoFacebook" title="Facebook">
                  <i class="fa fa-facebook"></i></a></li>

              <li><a href="{% provider_login_url 'twitter' process='login' %}"
                     class="icoTwitter" title="Twitter">
                  <i class="fa fa-twitter"></i></a></li>

              <li><a href="{% provider_login_url 'linkedin' process='login' %}"
                     class="icoLinkedin" title="Linkedin">
                  <i class="fa fa-linkedin"></i></a></li>

              <li><a href="{% provider_login_url 'vk' process='login' %}"
                     class="icoVK" title="VK">
                  <i class="fa fa-vk"></i></a></li>

              <li><a href="{% provider_login_url 'google' process='login' %}"
                     class="icoGoogle" title="Google +">
                  <i class="fa fa-google-plus"></i></a></li>

              <li><a href="{% provider_login_url 'instagram' process='login' %}"
                     class="icoInstagram" title="Instagram">
                  <i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>

      </div><!-- /.widget-main -->

      <div class="toolbar clearfix">

        <div class="pull-right">
          <a href="{% url 'general:registration' %}" class="user-signup-link">
            I want to register
            <i class="ace-icon fa fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
