{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta charset="utf-8"/>

  <meta name="description" content="Common UI Features &amp; Elements"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
  <title>Jiller | {% block title %}Home{% endblock %}</title>

  {% block favicon %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
  {% endblock %}

  {# Block where global CSS will go. #}
  {% block styles %}

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href='{% static 'css/bootstrap.css' %}'
          type='text/css'/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"
          type='text/css'/>

    <!-- text fonts -->
    <link rel="stylesheet" href="{% static 'css/ace-fonts.css' %}"
          type='text/css'/>

    <!-- ace styles -->
    <link href='{% static "css/ace.css" %}' rel='stylesheet' type='text/css'
          class="ace-main-stylesheet"
          id="main-ace-style"/>

    <!-- table styles -->
    <link rel="stylesheet" href="{% static 'css/table.css' %}"
          type='text/css'/>

    {#custom styles#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}

  {# Additional CSS - specific to certain pages #}
  {% block extrastyles %}{% endblock %}
</head>

<body class="no-skin">
<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default          ace-save-state">
  <div class="navbar-container ace-save-state" id="navbar-container">

    <!-- /section:basics/sidebar.mobile.toggle -->
    <div class="navbar-header pull-left">
      <!-- #section:basics/navbar.layout.brand -->
      <a href="{% url 'general:home_page' %}" class="navbar-brand">
        <i class="fa fa-lightbulb-o orange2"> </i>
        Jiller
      </a>
    </div>

    <!-- #section:basics/navbar.dropdown -->
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        <li class="green">
          <a href="{% url 'employee:list' %}">
            <i class="fa fa-users"></i>
            <span>Employees</span>
          </a>
        </li>
        <!-- #section:basics/navbar.user_menu -->
        {% if request.user.is_authenticated %}
          <li class="light-blue">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
              <span class="user-info"><small>{% trans 'Welcome,' %}</small>
                {{ request.user }}</span>
              <i class="ace-icon fa fa-caret-down"></i>
            </a>
            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
              <li>
                <a href="{% url 'general:logout' %}">
                  <i class="ace-icon fa fa-power-off"></i>
                  Logout
                </a>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="light-blue">
            <a href="{% url 'general:registration' %}">Registration</a>
          </li>
          <li class="light-blue">
            <a href="{% url 'general:login' %}">Login</a>
          </li>

        {% endif %}
        <!-- /section:basics/navbar.user_menu -->
      </ul>
    </div>

    <!-- /section:basics/navbar.dropdown -->
  </div><!-- /.navbar-container -->
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container ace-save-state" id="main-container">

  <!-- #section:basics/sidebar -->
  <div id="sidebar" class="sidebar responsive ace-save-state">
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
      <a href="{% url 'project:create' %}" class="btn btn-white btn-xlg btn-success btn-block">
        <span class="glyphicon glyphicon-plus"></span>
        Create project</a>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">
      {% for project in project_list %}
        <li class="hover">
          <a href="{% url 'project:detail' project.id %}">
            <i class="menu-icon fa  fa-check-square-o"></i>
            <span class="menu-text">
								{{ project.title }}
							</span>
            <b class="arrow fa fa-angle-down"></b>
          </a>
          <b class="arrow"></b>
          <ul class="submenu">

            <li class="hover">
              <a href="{% url 'project:detail' project.id %}">
                <i class="menu-icon fa fa-caret-right"></i>
                Detail
              </a>
              <b class="arrow"></b>
            </li>

            <li class="hover">
              <a href="{% url 'project:sprint_active' project.id %}">
                <i class="menu-icon fa fa-caret-right"></i>
                Active sprint
              </a>
              <b class="arrow"></b>
            </li>

            <li class="hover">
              <a href="{% url 'project:sprints_list' project.id %}">
                <i class="menu-icon fa fa-caret-right"></i>
                Sprint history
              </a>
              <b class="arrow"></b>
            </li>

            <li class="hover">
              <a href="{% url 'project:backlog' project.id %}">
                <i class="menu-icon fa fa-caret-right"></i>
                Backlog
              </a>
              <b class="arrow"></b>
            </li>

            <li class="hover">
              <a href="{% url 'project:issue_search' project.id %}">
                <i class="menu-icon fa fa-caret-right"></i>
                Issues
              </a>
              <b class="arrow"></b>
            </li>

            <li class="hover">
              <a href="{% url 'project:team' project.id %}">
                <i class="menu-icon fa fa-caret-right"></i>
                Team
              </a>
              <b class="arrow"></b>
            </li>

            <li class="hover">
              <a href="{% url 'project:note' project.id %}">
                <i class="menu-icon fa fa-caret-right"></i>
                Notes
              </a>
              <b class="arrow"></b>
            </li>
          </ul>
        </li>
      {% endfor %}
    </ul><!-- /.nav-list -->
    <!-- /section:basics/sidebar.layout.minimize -->
  </div>

  <!-- /section:basics/sidebar -->
  <div class="main-content">
    <div class="main-content-inner">
      <!-- #section:basics/content.breadcrumbs -->

      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          {% block breadcrumbs %}
            <li>
              <i class="ace-icon fa fa-home home-icon"></i>
              <a href="{% url 'general:home_page' %}">{% trans 'Home' %}</a>
            </li>
          {% endblock %}
        </ul><!-- /.breadcrumb -->

        <!-- /section:basics/content.searchbox -->
      </div>
      <!-- /section:basics/content.breadcrumbs -->
      <div class="page-content">
        <div class="row">
          <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            {% block content %}



            {% endblock %}
            <!-- PAGE CONTENT ENDS -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->
  <div class="footer">
    <div class="container">
        <span class="bigger-120">
          Jiller
        </span>
    </div>
  </div>

  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
  </a>
</div><!-- /.main-container -->


{# Local scripts #}
{% block scripts %}
  <!-- basic scripts -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>

  <!-- ace scripts -->
  <script src="{% static 'js/ace/ace.js' %}"></script>
  <script src="{% static 'js/ace/ace.sidebar.js' %}"></script>


{% endblock %}

{# Additional JS scripts #}
{% block extrascripts %}{% endblock %}
</body>
</html>

