<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Poker Room</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel=stylesheet>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

</head>
<body data-room="{{ room_name }}">
  <header class="text-center container">
  </header>
  <div id="poker-app" class="container"></div>
<footer>
<p class="text-center">Jiller inc</p>
</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/vendors/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendors/react.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendors/react-dom.js') }}"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script type="text/jsx" src="{{ url_for('static', filename='js/components.js') }}"></script>
<!--
    var socket = io.connect('http://localhost:5000/')
    socket.on( 'connect', function() {
      socket.emit( 'my event', {
      data: 'user connect'
      })
    })

      var form = $(' form ').on( ' submit ', function( e ) {
        e.preventDefault()
        var user_name = $(' input.username ').val()
        var message = $(' input.message ').val()

        socket.emit('my event', {
          user: user_name,
          msg: message
        })
      })

      socket.on('resp', function(msg) {
      if (typeof msg.user !== 'undefined')
      {
        $('h1').remove()
        $('div.msg-wrapper').append('<div class="msgbbl"><b>' + msg.user +
        ': ' + '</b>' + msg.msg + '</div>')
      }
        console.log(msg)
      })
-->
</body>

