Django==1.10.5
django-nose==1.4.4
nose==1.3.7
olefile==0.44
Pillow==4.0.0
sorl-thumbnail==12.3
coverage==4.3.4
django-waffle==0.11.1
pygal==2.3.1
pytz==2016.10
django-simple-email-confirmation==0.21
django_tables2==1.3.0
celery==4.0.2
redis==2.10.5
django-allauth==0.30.0
requests-oauthlib==0.8.0
requests==2.13.0
oauthlib==2.0.1
python-openid==2.2.5
python3-openid==3.0.10
defusedxml==0.5.0
redislite==3.2.311
django-mathfilters==0.4.0

django-jenkins==0.110.0
pylint
pep8
pyflakes
flake8
